

ul li {
    list-style: none;
}
.nested {
    display: none;
}
.caret:before {
    content: "\25B6";
    margin-right: 5px;
    display: inline-block;
}
.active {
    display: block;
}
.caret {
    cursor: pointer;
    user-select: none;
}

.caret-down:before {
    transform: rotate(90deg)

}


.left, .right {
    display: inline-block;
}

