body {
    font-size: 30;
}
.main {
    border: 1px solid black;
    height: 500px;
    width: 800px;
}
ul li {
    list-style: none;
}
.nested {
    display: none;
}

.marked {
    color:aliceblue;
    background-color: rgb(14, 77, 185);
}
.caret:before {
    content: "\25B6";
    margin-right: 5px;
    display: inline-block;
}
.active {
    display: block;
}
.caret {
    cursor: pointer;
    user-select: none;
}

.caret-down:before {
    transform: rotate(90deg)

}


.left, .right {
    display: inline-block;
}

