
.main {
    border: 1px solid black;
    height: 500px;
    width: 99%;
    display: flex;
}
ul li {
    list-style: none;
}
.nested {
    display: none;
}

.marked {
    color:aliceblue;
    background-color: rgb(14, 77, 185);
}
.caret:before {
    content: "+";
    margin-right: 5px;
    display: inline-block;
}
.active {
    display: block;
}
.caret {
    cursor: pointer;
    user-select: none;
}

.caret-down:before {
    content: "-"

}


.left, .right {
    display: inline-block;
    width: 45%;
}

.statistics label {
    display: block;
    margin: 20px;
}

.right {
    margin-top: 200px;
    margin:auto;
    text-align: center;
}

